{% extends 'app/base.html' %} {% block contenido %} {% load crispy_forms_tags %}

<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h2>Iniciar Sesion</h2>
          <hr />
          <form action="" method="POST">
            {% csrf_token %} {{ form | crispy}}
            <a href="{% url 'home' %}">ir al inicio</a> |
            <a href="{% url 'registro' %}">registrate</a>
            <input
              type="submit"
              class="btn btn-success float-right"
              value="ingresar"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>}

{% endblock %}
