<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica Locura</title>


    {% load static %}

    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd9eab947e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
    {% block js %}
    
    {% endblock %}
    <!-- CSS only -->
</head>

<body>
    <!-- NAVBAR-->
    
    <div class="container">
        <section class="main-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <div class="logo-container">
                            <img src="{% static 'app/img/logo.png' %}" id="logo" alt="logo" class="logo-img">
                            <h4 class="logo-text">
                                <span class="logo-text-music">Clínica </span>
                                <span class="logo-text-pro">Locura</span>
                            </h4>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!------------------- MENU MOVIL ------------------>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav w-100 mb-2 mb-lg-0">
                            <div class="main-menu-web w-100 d-flex align-items-center d-none d-lg-block d-md-none d-sm-none d-sm-block">
                                <div class="botones-end-menu d-flex align-items-center">
                                    <li class="nav-item dropdown d-flex borde-izquierdo-menu ">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-icons">person</span> <span
                                                class="material-icons-text">Mi
                                                cuenta</span>
                                        </a>
                                        {% if perms.app.add_especialista %}
                                        <a href="{% url 'agregar_especialista' %}" class="nav-link ">Agregar especialista</a>
                                        {% endif %}
                                        {% if perms.app.view_especialista %}
                                        <a href="{% url 'listar_especialistas' %}" class="nav-link ">Listado especialistas</a>
                                        {% endif %}

                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        {% if user.is_authenticated %}
                                            <a href="#" class="nav-link ">@{{ user.username }}</a>
                                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                                            <li><a class="dropdown-item" href="{% url 'registro' %}">Registrate</a></li>
                                        {% endif %}
                                        </ul>
                                    </li>
                                </div>
                            </div>

                            <!-- CATEGORIAS MOVIL -->
                            <!--

                            
                            <div class="top-menu-movil d-flex justify-content-between d-lg-none">
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" href="#"><span class="material-icons">person</span><span
                                            class="material-icons-text">Mi cuenta</a>
                                </li>
                            </div>
                            -->
                            <p class="d-lg-none titulo-categorias">Categorias</p>
                            <hr class="hr-categorias d-lg-none">
                            <div class=" d-lg-none">
                                <div class="d-lg-none">

                                    <li class="nav-item dropdown d-lg-none mx-auto text-center">
                                        <a class="nav-link" href="#" id="navbarScrollingDropdown"
                                            role="button" aria-expanded="false">
                                            Nosotros
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown d-lg-none mx-auto text-center">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Especialistas
                                        </a>
                                        <ul class="dropdown-menu mx-auto text-center"
                                            aria-labelledby="navbarScrollingDropdown">
                                            <li><a class="dropdown-item" href="{% url 'especialista' %}">Psicologos</a></li>
                                            <li><a class="dropdown-item" href="{% url 'especialista' %}">Psiquiatras</a></li>
                                            <li><a class="dropdown-item" href="#">Nutricionistas</a></li>
                                            <li><a class="dropdown-item" href="#">Ver todo</a></li>

                                        </ul>
                                    </li>
                                    
                                    
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>


        <section class="header-bottom d-none d-lg-block">
            <ul class="nav nav-pills nav-fill menu-categorias">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Especialistas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'especialista' %}">Psicologos</a></li>
                        <li><a class="dropdown-item" href="{% url 'especialista' %}">Psiquiatras</a></li>
                        <li><a class="dropdown-item" href="#">Nutricionistas</a></li>
                        <li><a class="dropdown-item" href="#">Ver todo</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#nosotros" role="button"
                        aria-expanded="false">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Talleres</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">online</a></li>
                        <li><a class="dropdown-item" href="#">precenciales</a></li>
                        <li><a class="dropdown-item" href="#">Ver todo</a></li>
                        <li><a class="dropdown-item" href="{% url 'paciente' %}">Paciente</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Contacto</a>
                </li>
            </ul>
        </section>
    </div>


    <div id="contenido">
        {% block contenido %}
        {% endblock %}

    </div>



     



<!--Boton para subir automaticamente-->
    <div class="boton-arriba hidden-sm-down">
        <a href="#logo"><i class="fas fa-chevron-up"></i></a>
    </div>     


    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire({
            "title":"Felicidades",
            "text":"{{m}}",
            "icon":"success"

          })
        </script>
      {% endfor %} 
    {% endif %}









    <!-------------------- FOOTER ------------------>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 centrar">
                    <h4>Nosotros</h4>
                    <ul>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="col-md-4 centrar">
                    <h4>Servicio al Cliente</h4>
                    <ul>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Condiciones</a></li>
                        <li><a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="col-md-4 centrar">
                    <h4>Nuestras redes</h4>
                    <div class="social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram" onclick=""></i></a>
                    </div>
                </div>

                <p style="color:aliceblue ;">Psicoweb © 2022 Todos los derechos reservados</p>
            </div>
        </div>
    </footer>









<!------------ Scrips jquery, poper, boostrap 4 y 5 ------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js "
        integrity=" sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG "
        crossorigin=" anonymous "></script>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js "
        integrity=" sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc "
        crossorigin=" anonymous "></script>


</body>

</html>