{% extends 'app/base.html' %}

{% block contenido %}

    <!-- Citas -->
    <section>

        <div class="container">
            <h3 class="titulo">Citas</h3>

            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <h3>Listado de fichas</h3>
                        <table class="table" border=1>
                            <thead>
                                <tr>
                                    <th scope="col">Paciente</th><th scope="col">Fecha</th>
                                    <th scope="col">Hora</th><th scope="col">Ubicación</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ci in citas %}
                                <tr>
                                    <td> {{ci.paciente}}</td><td> {{ci.fecha}}</td>
                                    <td> {{ci.hora}}</td><td> {{ci.lugar}}</td>
                                    <td><a href="{% url 'modificarCita' ci.id_cita %}">Modificar</a></td>
                                    <td><a href="{% url 'cancelarCita' ci.id_cita %}">Cancelar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}