{% extends 'app/base.html' %}

{% load static %}


{% block contenido %}

{% load humanize %}

 <!-- IMAGEN DEL PRODUCTO -->

 
<section class="container mt-5">
    <h3 class="titulo mb-5">especialista </h3>
<div class="row">
    <div class="col-md-12 col-lg-6"> 
        <img   id="imagen-producto" src="{{datos.imagen.url}}" alt="especialista">
    </div>
    <div id="detalle-producto" class="col-md-12 col-lg-6 mt-5">
        <h5>Precio consulta: <span style="color: green; font-weight:bold;">${{datos.precio_consulta | intcomma}}</span></h5>
        <h5>Correo: {{datos.correo}}</h5>
        

        <br>
        <!--
        <a href="{% url 'paypal' %}" class="btn btn-success">Agendar hora</a>
        -->
        <a href="{% url 'crearCita' %}" class="btn btn-success">Agendar hora</a>
        <br>
        <br>
    </div>
</div>


<div class=" mt-5">
    <h3 class="titulo">Descrpción del especialista</h3>
    <div class=" descripcion mb-5">
        <h5>{{datos.nombre}} {{datos.apellido}}</h5> 
        <p>{{datos.descripcion}}</p>
    </div>
    
</div>
</section>

{% csrf_token %}
         <input type="hidden" name="id" id="id" value="{{datos.id}}" />
         <input type="hidden" name="cantidad" />
       </form>


{% endblock %}