{% extends 'app/especialistaBase.html' %}

{% block contenido %}

<section>

    <div class="container">
        <h3 class="titulo">Citas</h3>



        <div class="card">
            <h3>Listado de Citas</h3>
            <hr>
            <table class="table" border=1>
                <thead>
                    <tr>
                        <th scope="col">Paciente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ci in citas %}
                    <tr>
                        <td> {{ci.usuario}}</td>
                        <td> {{ci.fecha}}</td>
                        {% if ci.hora == 0 %}
                        <td> 12:00 pm</td>
                        {% else %}
                        <td> {{ci.hora}}:00 pm</td>
                        {% endif %}
                        <td> {{ci.lugar}}</td>
                        <td><a href="{% url 'cita' ci.id_cita %}">Abrir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}