{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  
  <div class="caja-mapa">
    <h2 class="h2">UBICACIÓN</h2>
    <hr style="width: 100%" />
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13379.459661036724!2d-71.5331841!3d-33.0336892!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses!2scl!4v1619999498142!5m2!1ses!2scl"
      width="500" height="450" style="border: 0" allowfullscreen="" loading="lazy" aria-hidden="false"
      tabindex="0"></iframe>
  </div>

  <!-- -->
  <div class="container">
    <h1 id="conctact" class="logo">Formulario <span>Contacto</span></h1>

    <div class="contact-wrapper animated bounceInUp">
      <div class="contact-form">
        <h3>¡Contáctanos!</h3>

        <form id="formularioContacto" action="" method="GET">
          <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre"
              placeholder="Nombre">
          </div>
          <div>
            <label for="apellido">Apellido</label>
            <input id="apellido" name="apellido"
              placeholder="Apellido">
          </div>
          <div class="">
            <label for="correo">Correo electrónico</label>
            <input type="email" id="correo" name="correo"
              placeholder="ejemplo@mail.com">
          </div>
          <div>
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono"
              name="telefono" placeholder="912345678">
          </div>
          <div class="block">
            <label for="mensaje">Mensaje</label>
            <textarea  id="mensaje" name="mensaje"
              rows="3" placeholder="Escriba aquí su mensaje"></textarea>
          </div>
          <!-- botones enviar y limpiar -->
          <div class="block">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
        


        <div class="contact-info">
          <h4>Más información</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> 5 Norte Viña Del Mar</li>
            <li><i class="fas fa-phone"></i> (032)404608</li>
            <li>
              <i class="fas fa-envelope-open-text"></i> Rayo.Makween@gmail.com
            </li>
          </ul>
          <p></p>
          <p>https://Rayo.Makween.com</p>
        </div>
    </div>
  </div>
   

{% endblock %}