{% extends 'app/especialistaBase.html' %}

{% block contenido %}

<br>
<br>
<div class="card">
    <div class="card-body">
        
        <h3>Listado de fichas</h3>
        <table class="table table-striped table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for fi in ficha %}
                <tr>
                    <td> {{fi.paciente}}</td><td> {{fi.fecha}}</td>
                    <td><a href="{% url 'ficha' fi.id_ficha %}">Abrir</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}